/*************reset*************/
body,
div,
header,
figure,
nav,
h1,
h2,
h3,
h4,
p,
a,
ul,
li,
textarea,
input {
	margin: 0;
	padding: 0;
}
ul {
	list-style-type: none;
}
.clearfix:after {
	content: "."; 
	display: block; 
	height: 0; 
	visibility:hidden;
	clear: both; 
}
.clearfix { 
	*zoom:1; 
}
/*************头部样式*************/
header {
	min-width: 1280px;
	height: 55px;
	background-color: #2189BF;
}
.header-inner {
	padding-left: 50px;
	padding-right: 50px;
	height: 55px;
}
.header-inner .logo-img {
	margin-top: 10px;
}
.header-inner .search-box {
	float: right;
	margin-top: 13px;
	margin-right: 40px;
	padding-left: 30px;
	width: 285px;
	height: 30px;
	-webkit-border-radius: 15px;
    -moz-border-radius: 15px;
	border-radius: 15px;
	background: url(../img/search.jpg) no-repeat 8px center #ffffff;
	border: 0;
	outline: 0;
}
.header-inner .login-text {
	position: relative;
	display: inline-block;
	float: right;
	margin-top: 20px;
	width: 30px;
	height: 15px;
	font-size: 12px;
	font-family: "黑体";
	text-align: center;
	color: #ffffff;
	text-decoration: none;
}
.header-inner .login-text:after {
	position: absolute;
	top: 0;
	left: -15px;
	display: block;
	content: "";
	width: 20px;
	height: 20px;
	background: url(../img/user.jpg) no-repeat ;
}
/*************内容主体样式*************/
.container {
	min-width: 1280px;
	overflow: hidden;
	background-color: #EEEEED;
}
.content {
	padding-left: 260px;
	padding-bottom: 50px;
}
/*************侧边栏样式*************/
aside {
	margin-bottom: -1000px;
    padding-bottom: 1000px;
	float: left;
	width: 260px;
	background-color: #2A2E3D;
}
.aside-header {
	padding-top: 15px;
	padding-left: 50px;
	padding-right: 50px;
}
.aside-header .avatar {
	margin-right: 10px;
	vertical-align: middle;
	font-size: 0;
}
.aside-header .nick {
	display: inline-block;
	margin-bottom: 20px;
	font-size: 16px;
	font-family: "黑体";
	color: #f6f5f5;
}
.user-data {
	margin-top: 25px;
}
.user-data li {
	float: left;
	width: 70px;
	text-align: center;
}
.user-data li:first-child {
	border-right: 2px solid #323646;
}
.user-data .field {
	display: block;
	font-size: 12px;
	font-family: "宋体";
	color: #6e8095;
}
.user-data .num {
	display: block;
	font-size: 16px;
	font-family: "黑体";
	color: #6e8095;
}
.menu {
	margin-top: 20px;

}
.menu li {
	padding-top: 3px;
	padding-bottom: 3px;
}
.menu > li {
	padding-top: 10px;
	padding-left: 45px;
	padding-bottom: 10px;
}
.menu li img {
	margin-right: 5px;
}
.menu > li > img {
	vertical-align: middle;
	margin-right: 15px;
}
.menu li a {
	font-size: 12px;
	font-family: "黑体";
	color: #5C6A7D;
	text-decoration: none;
}
.menu .active {
	background-color: #393D4E;
}
.menu .active-text {
	color: #D2D2D6;
}
.menu > li > ul {
	padding-left: 25px;
}
.menu > li > ul > ul {
	padding-left: 35px;
}
/*************内容区-面包条导航样式*************/
.content .bread-nav {
	padding-left: 25px;
	height: 30px;
	background-color: #ffffff;
}
.content .bread-nav a {
	position: relative;
	display: inline-block;
	margin-right: 10px;
	font-size: 12px;
	font-family: "黑体";
	text-align: center;
	color: #BDBDBD;
	text-decoration: none;
}
.content .bread-nav a:before {
	position: absolute;
	top: 0;
	left: -12px;
	content: "/";
	display: inline-block;
}
.content .bread-nav a:first-child:before {
	display: none;
}
.content .bread-nav .active {
	color: #90B2D1;
}
/*************内容区-顶部搜索区样式*************/
.content .search-box {
	margin-top: 20px;
	margin-left: 65px;
	width: 890px;
	height: 90px;
	background-color: #ffffff;
	border: 1px solid #E2E3E4;
}
.content .search-box ul {
	float: left;
	margin-left: 40px;
	padding-top: 15px;
	height: 75px;
}
.content .search-box ul li {
	margin-bottom: 5px;
}
.content .search-box span {
	font-size: 12px;
	font-family: "黑体";
	color: #BDBDBD;
}
.content .search-box select {
	appearance:none;
	-moz-appearance:none;
	-webkit-appearance:none;
	padding-left: 10px;
	height: 25px;
}
.content .search-box select option {
	font-size: 12px;
	font-family: "黑体";
}
.content .search-box .select-s1 {
	width: 125px;
	background: url(../img/select_black.jpg) no-repeat 105px center;
}
.content .search-box .select-s2 {
	width: 70px;
	background: url(../img/select_black.jpg) no-repeat 53px center;
}
.content .search-box .search-term select {
	width: 70px;
	background: url(../img/select_blue.jpg) no-repeat 53px center;
}
.content .search-box .search-sale {
	width: 190px;
}
.content .search-box .search-sale li {
	float: left;
}
.content .search-box .search-sale li:last-child {
	margin-top: -22px;
}
.content .search-box button {
	margin-top: 30px;
	margin-left: 35px;
	width: 50px;
	height: 25px;
	font-size: 12px;
	font-family: "黑体";
	color: #ffffff;
	background-color: #388AC1;
	border: 0;
	cursor: pointer;
}
/*************内容区-历史查询区样式*************/
.history-search {
	margin-top: 20px;
	margin-left: 65px;
	width: 891px;
	height: 65px;
}
.history-search li {
	float: left;
	margin-right: 4px;
	width: 110px;
	height: 65px;
	text-align: center;
	border-top: 1px solid #CFD2D5;
	border-left: 1px solid #CFD2D5;
	background-color: #ffffff;
}
.history-search li time {
	margin-top: 10px;
	margin-bottom: 5px;
	display: block;
	font-size: 12px;
	font-weight: 700;
	font-family: "微软雅黑";
}
.history-search li .rmb-num {
	font-size: 21px;
	font-family: "微软雅黑";
	color: #ED711A;
}
.history-search li .rmb-num:before {
	display: inline-block;
	content: "￥";
	font-size: 16px;
	font-family: "微软雅黑";
	font-weight: 700;
	color: #ADADAD;
}
.history-search > a {
	float: left;
	display: inline-block;
	margin-right: 4px;
	width: 30px;
	height: 65px;
	line-height: 65px;
	font-size: 28px;
	color: #C1C1C1;
	text-align: center;
	text-decoration: none;
	border-top: 1px solid #CFD2D5;
	border-left: 1px solid #CFD2D5;
	background-color: #ffffff;
}
.history-search .history-box {
	float: left;
	width: 130px;
	height: 65px;
	border-top: 1px solid #CFD2D5;
	border-left: 1px solid #CFD2D5;
	background-color: #ffffff;
}
.history-search .history-box img {
	float: left;
	margin-top: 15px;
	margin-left: 15px;
}
.history-search .history-box a {
	display: inline-block;
	margin-top: 25px;
	margin-left: 10px;
	font-size: 12px;
	font-family: "微软雅黑";
	font-weight: 400;
	color: #7E7E7E;
	text-decoration: none;
}
.history-search .active {
	border-top: 3px solid #4388C8;
}
/*************内容区-统计区样式*************/
.content > h2 {
	margin-top: 20px;
	margin-bottom: 5px;
	padding-left: 65px;
	font-size: 12px;
	font-family: "微软雅黑";
	font-weight: normal;
}
.count {
	margin-left: 65px;
	width: 950px;
	height: 70px;
}
.count li {
	position: relative;
	float: left;
	margin-right: 25px;
	width: 200px;
	height: 70px;
	border: 2px solid #E2E3E4;
	background-color: #ffffff;
}
.count li span {
	position: absolute;
	font-family: "黑体";
}
.count .count-num {
	top: 20px;
	left: 10px;
	font-size: 12px;
	color: #323333;
}
.count .count-text {
	top: 40px;
	left: 10px;
	font-size: 10px;
	color: #939494;
}
.count .color-block {
	float: right;
	margin-top: 12px;
	margin-right: 12px;
	width: 60px;
	height: 45px;
}
.count .count-green {
	border-left: 3px solid #48B49F;
}
.count .count-green .color-block {
	background-color: #48B49F;
}
.count .count-blue {
	border-left: 3px solid #388AC1;
}
.count .count-blue .color-block {
	background-color: #388AC1;
}
.count .count-red {
	border-left: 3px solid #D04A36;
}
.count .count-red .color-block {
	background-color: #D04A36;
}
.count .count-yellow {
	border-left: 3px solid #E1CC46;
}
.count .count-yellow .color-block {
	background-color: #E1CC46;
}
/*************内容区-第一组项目区样式*************/
.title {
	padding-left: 20px;
	height: 40px;
	line-height: 40px;
	font-size: 12px;
	font-family: "黑体";
	font-weight: 100;
	color: #B9B9B9;
	background-color: #F3F5F6;
	border-bottom: 1px solid #DADCDD;
	border-radius: 10px 10px 0 0;
}
.one-project {
	margin-top: 20px;
	margin-left: 65px;
	width: 891px;
}
.one-project:last-child {
	margin-top: 10px;
}
.one-project-list {
	float: left;
	margin-right: 8px;
	width: 530px;
	height: 360px;
	border: 2px solid #DADCDD;
	border-radius: 10px;
	background-color: #ffffff;
}
.one-project-list .pro-tab {
	margin-top: 15px;
	margin-left: 20px;
}
.one-project-list .pro-tab li {
	float: left;
	margin-right: 5px;
	width: 85px;
	height: 30px;
	line-height: 30px;
	font-size: 12px;
	font-family: "微软雅黑";
	color: #535353;
	text-align: center;
	border-radius: 5px 5px 0 0;
	background-color: #ECECEF;
}
.one-project-list .pro-tab .active {
	border-top: 2px solid #EAEBEB;
	border-left: 2px solid #EAEBEB;
	border-right: 2px solid #EAEBEB;
	background-color: #ffffff;
}
.one-project-list .pro-show {
	margin-top: -2px;
	margin-left: 20px;
	margin-right: 20px;
	padding-bottom: 20px;
	height: 230px;
	border: 2px solid #EAEBEB;
	border-radius: 5px;
}
.one-project-list .pro-show table {
	margin-top: 30px;
	margin-left: 40px;
	width: 400px;
	height: 185px;
	border-collapse: collapse;
	border: 1px solid #E9E9EA;
}
.one-project-list .pro-show table td {
	width: 100px;
	height: 30px;
	font-size: 12px;
	font-family: "宋体";
	text-align: center;
	font-weight: 400;
	color: #6B6B6B;
	cursor: pointer;
	border: 1px solid #E9E9EA;
}
.one-project-list .pro-show table td:hover {
	background-color: #F4F6F7;
}
.one-project-search {
	float: left;
	width: 345px;
	height: 360px;
	border: 2px solid #DADCDD;
	border-radius: 10px;
	background-color: #ffffff;
}
.one-project-search h3 {
	padding-left: 20px;
	font-size: 12px;
	font-family: "微软雅黑";
	font-weight: normal;
	color: #D2D1D1;
}
.one-project-search p {
	padding-left: 20px;
	font-size: 12px;
	font-family: "微软雅黑";
}
.one-project-search .pro-title {
	margin-top: 20px;
	margin-left: 30px;
	padding-bottom: 5px;
	width: 280px;
	border-bottom: 1px solid #F2F2F2;
}
.one-project-search .pro-price {
	float: left;
	margin-left: 30px;
	width: 100px;
	padding-bottom: 5px;
	border-right: 1px solid #F2F2F2;
	border-bottom: 1px solid #F2F2F2;
}
.one-project-search .pro-person {
	float: left;
	margin-right: 30px;
	width: 180px;
	padding-bottom: 5px;
	border-bottom: 1px solid #F2F2F2;
}
.one-project-search .pro-intro {
	float: left;
	margin-top: 5px;
	margin-left: 30px;
	margin-right: 30px;
	width: 280px;
	height: 145px;
	border-bottom: 1px solid #F2F2F2;
}
.one-project-search input[type=checkbox] {
	margin-left: 30px;
	margin-right: 10px;
	vertical-align: middle;
	background-color: #D5D5D5;
	border: 0;
}
.one-project-search label {
	font-size: 12px;
	font-family: "微软雅黑";
	color: #c3c2c2;
}
.one-project-search button {
	float: right;
	margin-top: 5px;
	margin-right: 35px;
	width: 50px;
	height: 25px;
	font-size: 12px;
	font-family: "黑体";
	color: #ffffff;
	background-color: #388AC1;
	border: 0;
	border-radius: 2px;
	cursor: pointer;
}
.calendar {
	padding-bottom: 20px;
	float: left;
	width: 345px;
	height: 360px;
	border: 2px solid #DADCDD;
	border-radius: 10px;
	background-color: #ffffff;
}
.calendar .calender-head {
	margin: 0 auto;
	margin-top: 10px;
	padding-left: 5px;
	width: 310px;
	height: 35px;
	border-bottom: 2px solid #AFD2ED;
}
.calendar .calender-head select {
	appearance:none;
	-moz-appearance:none;
	-webkit-appearance:none;
	padding-top: 2px;
	padding-left: 3px;
	padding-bottom: 2px;
	border: 1px solid #CACBCB;
}
.calendar .calender-head select option {
	font-size: 12px;
	font-family: "黑体";
}
.calendar .calender-head .year {
	width: 65px;
	background: url(../img/arrow_cal.jpg) no-repeat 43px -1px;
}
.calendar .calender-head .month {
	padding-left: 10px;
	width: 75px;
	background: url(../img/arrow_cal.jpg) no-repeat 53px -1px;
}
.calendar .calender-head .date {
	width: 78px;
	background: url(../img/arrow_cal.jpg) no-repeat 56px -1px;
}
.calendar .calender-head a {
	padding: 5px;
	font-size: 12px;
	font-family: "黑体";
	border: 1px solid #CACBCB;
	text-decoration: none;
}
.calendar table {
	margin: 0 auto;
	width: 315px;
	border-collapse: collapse;
}
.calendar table th,
.calendar table td {
	font-size: 12px;
	font-family: "黑体";'
	font-weight: 100;
	text-align: center;
}
.calendar table th {
	height: 30px;
	border-bottom: 2px solid #E5E5E5;
}
.calendar table td {
	margin-top: 10px;
	height: 45px;
	cursor: pointer;
}
.calendar .light-date {
	border: 2px solid #F8D974;
}
.calendar table td b {
	display: block;
}
.light-day {
	color: #D0474B;
}
.car-hot {
	padding-bottom: 20px;
	float: left;
	margin-left: 8px;
	width: 530px;
	height: 360px;
	border: 2px solid #DADCDD;
	border-radius: 10px;
	background-color: #ffffff;
}
.car-hot table {
	margin: 0 auto;
	margin-top: 20px;
	width: 450px;
	height: 250px;
	border: 1px solid #CACBCB;
	border-collapse: collapse;
}
.car-hot table tr:hover {
	cursor: pointer;
	background-color: #F4F5F7;
}
.car-hot table th {
	height: 25px;
	text-align: center;
	font-size: 13px;
	font-family: "黑体";
	border: 1px solid #CACBCB;
}
.car-hot table td {
	height: 25px;
	text-align: center;
	font-size: 12px;
	font-family: "黑体";
	border: 1px solid #CACBCB;
}
.car-hot table td span {
	float: left;
	margin-left: 35px;
	display: block;
}
.car-hot table td .progress-bar {
	float: left;
	margin-left: 20px;
	margin-top: 5px;
	width: 160px;
	height: 5px;
	background-color: #DCDCDC;
}
.progress-bar .degree-one {
	width: 85%;
	height: 5px;
	background-color: #EC6D51;
}
.progress-bar .degree-two {
	width: 75%;
	height: 5px;
	background-color: #EC6D51;
}
.progress-bar .degree-three {
	width: 65%;
	height: 5px;
	background-color: #F19F4F;
}
.progress-bar .degree-normal {
	height: 5px;
	background-color: #7FCAEF;
}
.car-hot table .rank {
	width: 68px;
}
.car-hot table .brand {
	width: 90px;
}
.car-hot table .search-degree {
	padding-left: 35px;
	text-align: left;
}